.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
}

.nav-link {
    text-decoration: none;
    color: white;
    letter-spacing: 0.05em;
}

.navbar-brand {
    text-decoration: none;
    color: white;
    font-size: clamp(20px, 2vw, 30px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

body {
    background: rgba(0, 0, 0, 0.95);
    color: white;
    position: absolute;
}

.shift a {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.shift a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #616E7C;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.shift a:hover:after {
    width: 100%;
    left: 0;
    color: #616E7C;
    text-decoration: none;
}


/* .nav-item.active{
    border-bottom:2px solid #616E7C;
  } */

a:hover {
    color: white;
    text-decoration: none;
}

.roundCircle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 0.5em solid rgb(165, 163, 163);
}

.addUpperSpace {
    margin-top: 10vh;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#intro {
    color: #829AB1;
    font-size: clamp(20px, 1.5vw, 30px);
}

#AboutMe {
    font-size: clamp(40px, 4vw, 80px);
    color: #dcdee0;
}

#shortDetail {
    font-size: clamp(20px, 2vw, 40px);
    color: #9E9E9E;
}

#detail {
    font-size: clamp(20px, 2vw, 40px);
    color: #9E9E9E;
}

.marginTop5 {
    margin-top: 5vh;
}

.marginTop10 {
    margin-top: 10vh;
}

.marginLeft5 {
    margin-left: 5vw;
    ;
}

hr.style-two {
    border: 0;
    height: 1px;
    width: auto;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.inline {
    display: inline-block;
    width: fit-content;
}

.responsive {
    width: 100%;
    height: auto;
}

.overlay {
    overflow: hidden;
    padding: 10px;
    box-shadow: 2px 2px #888888;
}

.tab {
    float: left;
    /* background-color: #f1f1f1; */
    background: inherit;
    backdrop-filter: blur(5px);
    width: 30%;
    color: #888888;
    height: 300px;
}


/* Style the buttons inside the tab */

.tab button {
    display: block;
    color: rgb(153, 139, 139);
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border-left: 2px solid white;
}

.tab button.active {
    color: #ffffff;
    font-size: 1.2em;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 100%;
    border-left: none;
    height: 300px;
}

.tablinks {
    background-color: inherit;
    letter-spacing: 0.15em;
}

.gap li {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1em;
    margin: 20px 0;
    color: #9E9E9E;
}

ul.bullet {
    list-style-type: square;
}

.card-text {
    color: rgb(161, 155, 155);
    padding-bottom: 20px;
}

.card {
    background: rgba(54, 52, 52, 0.35);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

svg {
    width: 22px;
    height: 22px;
    margin-top: -4px;
}

a.external:active {
    text-decoration: none;
    /* color:#cc9b13; */
}

.lang {
    color: #4875f0;
    position: absolute;
    /* added */
    bottom: 0;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
    margin: auto;
}

.card-title {
    font-size: 1.2em;
}

#ResumeNav {
    border: 1px solid #ffffff;
    border-radius: 5px;
    height: 100%;
}


/* #ResumeNav:hover {
    background-color: #91beeb8c;
    color: #ffffff;
    border: 1px solid #91beeb8c;
} */


/* #ResumeNav::after {
    background-color: #91beeb21;
    height: 100%;
    top: 0;
    transform: skew(0deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
}

#ResumeNav:hover:after {
    height: 100%;
    width: 100%;
} */

#ResumeNav::before {
    background-color: rgb(28, 31, 30);
    transition: 0.3s ease-out;
}

#ResumeNav {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(28, 31, 30);
    transition: 0.2s 0.1s;
}

#ResumeNav:hover {
    background-color: #91beeb21;
    transition: 0.2s 0.1s;
}